<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<h1 id="tableLabel">ANGULAR TEST</h1>
<employees></employees>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#jobModal" (click) = toggleDisplaySaveBtn()>
  Add Job
</button>

<!-- Modal -->
<div class="modal fade" id="jobModal" tabindex="-1" aria-labelledby="jobModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="jobModalLabel"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3 row">
          <label for="staticEmail" class="col-sm-2 col-form-label"> Title</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="title" >
          </div>
        </div>
        <div class="mb-3 row">
          <label for="inputPassword" class="col-sm-2 col-form-label">Description</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="description">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary"  id="btnSave" *ngIf = "isShowSaveBtn" >Save</button>
        <button type="button" class="btn btn-primary"  id="btnUpdate" *ngIf = "isShowUpdateBtn">Update</button>
      </div>
    </div>
  </div>
</div>

<table *ngIf="jobs">
  <thead>
    <tr>
      <th>Id</th>
      <th>title</th>
      <th>description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let job of jobs">
      <td>{{ job.id }}</td>
      <td>{{ job.title }}</td>
      <td>{{ job.description }}</td>
      <td><button type="button" class="btn btn-primary" id="btnUpdate" data-bs-toggle="modal" data-bs-target="#jobModal" (click) = "getJob(job.id)">Update</button></td>
      <td><button type="button" class="btn btn-secondary" id="btnDelete" >Delete</button></td>
    </tr>
  </tbody>
</table>
